---
import { ViewTransitions } from 'astro:transitions';
import '@fontsource-variable/outfit';
import '@fontsource/kalam';
import SiteFooter from '../components/SiteFooter.astro';
import AnimatedTitle from '../components/AnimatedTitle.astro';
import ArrowLeft from '../../public/img/icons/arrow-left.svg?raw';
import '../styles/global.scss';

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
    <!-- <ViewTransitions /> -->
  </head>
  <body>
    <div class="px-5">
      <div class="w-full max-w-xl mx-auto pt-5">
        <a
          href="/"
          class="site-link px-5 py-3 inline-flex font-bold items-center jusity-center gap-2 rounded-xl"
        >
          <span
            class="w-5 inline-block relative back-link-arrow overflow-hidden"
          >
            <Fragment set:html={ArrowLeft} />
          </span>
          <span class="inline-block relative">Back</span>
        </a>
        <div class="mt-10">
          <AnimatedTitle text={frontmatter.title} />
        </div>
      </div>
      <div class="w-full max-w-4xl mx-auto mt-5 mb-10">
        <img src={frontmatter.headerImage} class="rounded-2xl" />
      </div>
      <div class="w-full max-w-xl mx-auto my-10 text-lg">
        <slot />
      </div>
    </div>
    <SiteFooter />
  </body>
</html>
<style is:global lang="scss">
  p {
    margin-bottom: 1em;
  }
</style>
